hostname = "10.168.168.168"
database = "DB2TLOC"
port = 8103
TargetSchema = "IBMUSER"
InventoryTable = "COMPINV"
ServiceTable = "SERVINV"
UptimeTable = "SERVTIME"
UID = "IBMUSER"
PWD = "sys1"
StartChecks = 0
Heartbeat = 45
StartRest = 0
RestHost = ""
RestPort = 80
DashPage = "dashboard.html"